<h1><%= @competition.name %> Info</h1>

<p> Name of competition: <%= @competition.name %> </p>
<p> Name of location: <%= @competition.location %> </p>
<p> Name of sport: <%= @competition.sport %> </p>
